{template modoer_header}
<script type="text/javascript" src="{URLROOT}/static/javascript/validator.js"></script>
<div id="body">
<div class="link_path"><a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;联系我们</div>
<div class="mainrail rail-border-1">
    <h1 class="rail-h-1 rail-h-bg-1">联系我们</h1>
    <ul class="subject_list"><li>您可以发站内短信给管理员，或者发邮件到：pingbaomu@163.com。</li><li></li></ul>
    <div class="clear"></div>
    <h1 class="rail-h-1 rail-h-bg-1">关于我们</h1>
    <ul class="subject_list"><li>保姆点评网是提供国内各地保姆及在国内工作的涉外保姆等点评平台。<li/>
<li>致力于规范保姆市场、推动中 国的保姆服务业的发展。汇聚全国智慧，提供全面的查询、点评等多项服务。<li/>
<li>保姆点评网的核心价值就是汇集大家智慧，利用网络无界限优势，传递给全国各地需要这些信息的人 们。<li/>
<li>希望更多的网友在这里分享自己的经验和见解，与我们一起为需要帮助的人提供一盏明灯。<li/>
<li>保姆点评网！传播信息，成就他人。</li></ul>
</div>
</div>
<!--{eval footer();}-->